.page-esferas h1{
    color: #ffb703;
    padding: 20px 0;
}

.page-esferas p{
    font-weight: bold;
    padding: 20px 0;
}

.page-esferas ul{
    padding: 20px 0;
}

.page-esferas ul li{
    padding: 15px;
    color: gray;
    list-style-type: none;
}

.page-esferas li::before {
    content: "\2714"; 
    color: white;
    display: inline-block;
    width: 20px 0; 
    text-align: center;
    margin-right: 10px; 
}

.page-esferas img{
    width: 30%;
    height: 30%;
}

.page-esferas div {
    position: relative;
}

.page-esferas img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}