.sobre-img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sobre-img img{
    margin: auto;
    width: 60%;
    height: fit-content;
    
}

.body-text{
    margin: auto;
    text-align: center;

}

.body-text h1{
    text-decoration: underline;
    margin: 30px;
}

.body-text p{
    font-weight: bold;
    margin: 30px;
}

